html {
    font-size: $font-size;
}

body {
    line-height: 1.5;
    color: $text-color;
    background-color: $bg-color;
    font-family: $font-family;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: $main-color;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

iframe {
    border: 0;
}

strong {
    font-weight: 500;
}
