body {
    font-family: "Dosis";
}

header {
    font-family: "Open Sans";
    font-size: 2em;
    padding: 24px 32px 24px 32px;
}

.content {
    padding: 24px 32px 24px 32px;
    display: flex;
}

nav {
    margin: 0 80px 0 32px;
    flex-basis: content;

    ol {
        padding-left: 8px;
        margin: 0;

        ul {
            padding-left: 8px;

            a:hover {
                color: $link-color;
            }
            ::before {
                content: "";
                border-left: solid 4px $link-color;
                margin: 0 1rem;
            }
        }
    }
}

main {
    margin: 0 32px 0 32px;
}

article {
    margin: 0 32px 24px 32px;
    display: flex;
    flex-wrap: wrap;

    img {
        width: 512px;
        height: 256px;
        object-fit: fill;
    }

    .post {
        width: 512px;
        max-height: 256px;
        overflow-y: hidden;
        background-color: #FAFAFA;
        text-align: left;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
        display: flex;
        flex-direction: column;

        div {
            padding: 20px 20px 0px 20px;
            font-size: 16px;
        }

        .post-title {
            font-size: 1.5em;
            font-family: "Open Sans";
        }

        .post-desp {
            padding-top: 12px;
            margin-bottom: auto;
            font-weight: lighter;
        }

        .post-label {
            margin-top: auto;
            padding-bottom: 20px;

            a:hover span {
                background-color: $label-color;
                color: white;
            }
        }
    }
}

.label {
    border: 0.5px solid $label-color;
    border-radius: 2px;
    color: $label-color;
    padding: 0px 8px;
}