body {
    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;
}

header {
    width: 1600px;
    margin: 0 auto;

    ul {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        padding-right: 15px;

        li {
            padding: 35px 50px;
            font-size: 20px;
        }
    }
}

main {
    width: 1600px;
    margin: 0 auto;
}

.greet {
    font-size: 96px;
    font-weight: 500;
    color: #58194A;
    margin: 42px 0;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.introduction {
    margin: 0 128px;
    min-width: 420px;

    p {
        margin: 48px 0;
    }

    a {
        text-decoration-line: underline;
    }
}

.cover {
    float: right;
    margin-top: -75px;
}

.top-flower {
    opacity: 0.8;
    width: 75%;
    position: relative;
    top: -35px;
}

.title {
    font-size: 96px;
    font-weight: 700;
    color: rgba($color: #3D235E, $alpha: 0.1);
    margin-top: 72px;
}

.left-draw {
    opacity: 0.9;
    position: absolute;
    left: 0;

    img {
        position: relative;
        top: -6rem;
        width: 80%;
    }
}

.right-draw {
    opacity: 0.8;
    position: absolute;
    right: 0;
    transform: rotate(-22.2deg);

    img {
        position: relative;
        top: -8rem;
    }
}

.journey {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 72px 128px;

    .line {
        border-top: 1px solid rgba($color: #000000, $alpha: 0.4);
        width: 100px;
    }

    .work {
        width: 200px;
    }

    .company {
        font-weight: 700;
        font-size: 48px;
    }

    .location {
        color: black;

        p {
            margin: 0;
        }
    }

    #company-jd > a {
        color: #D90F0F;
    }

    #company-jollychic > a {
        color: #BD254A;
    }

    #company-shopee > a {
        color: #EE4D2D;
    }
}

.principle {
    margin: 48px 128px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 64px;
    align-items: flex-start;

    p {
        min-width: 428px;
        max-width: 484px;
        margin: 20px 0;
    }

    .item {
        list-style-type: none;
        width: 716px;
        
        li {
            border: 1px solid #7C4467;
            border-radius: 40px;
            background-color: #FFF;
            font-size: 32px;
            line-height: 100%;
            color: rgba($color: #000000, $alpha: 0.87);
            padding: 20px 32px;
            margin: 20px 0;
            display: flex;
            align-items: center;
            column-gap: 16px;
            overflow: visible;
        }
    }
}

h1 {
    text-align: center;
    margin-bottom: 0%;
}

section {
    margin: 104px 65px;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 0px;
    margin: 48px 0;

    img {
        height: 406px;
        width: 634px;
        object-fit: fill;
    }
    
    .post {
        width: 643px;
        max-height: 406px;
        background-color: #FFF;
        text-align: left;
        text-overflow: ellipsis;
        overflow-wrap: break-word;

        .post-title {
            margin: 48px 48px 20px 48px;
            font-size: 24px;
            line-height: 32px;
            color: #000000;
            font-weight: 600;
        }

        .post-label {
            margin: 12px 48px 20px 48px;
            font-size: 16px;
            line-height: 12px;
        }

        .post-desp {
            margin: 40px 48px 12px 48px;
            font-size: 20px;
            font-weight: 300;
            line-height: 28px;
            color: rgba($color: #000000, $alpha: 0.87);

            ul {
                padding-left: 24px;
            }
        }
    }
}

article:hover {
    filter: drop-shadow(10px 10px 20px rgba(234, 229, 215, 0.4));
}

.label {
    border: 1px none $label-color;
    border-radius: 2px;
    padding: 4px 12px;
    color: $label-color;
    background-color: #EEF5FB;
    font-weight: 500;
    margin-right: 12px;
}

.label-app {
    background-color: #FFF3E0;
    color: #ED5500;
}

.label-web {
    background-color: #EEF8EF;
    color: #478651;
}

.label-0-to-1 {
    background-color: #F5F1EF;
    color: #742554;
}

strong {
    font-family: "Inter";
    background-color: $text-bg-color;
}

.content {
    width: 62%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: rgba($color: #000000, $alpha: 0.75);

    a {
        text-decoration: underline
    }
    ul {
        li {
            margin-left: 40px;
        }
    }

    tr {
        img {
            margin: 0;
        }
    }

    img {
        margin: 0 auto;
        display: block;
    }
}

p.time {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
}

h2 {
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(124, 68, 102, 1);
    margin-top: 80px;

}

h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(36, 57, 130, 1);
    margin-top: 80px;
}

h4 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(80, 80, 80);
    margin-top: 24px;
}

.bg {
    width: 55%;
}

.gif {
    width: 35%;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 110px;

    width: 328px;
    height: 444px;
}

.reason {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 72px;

    width: 507px;
    height: 480px;
}

.pic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 120px;

    // width: 1078px;
}

.arrow {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    column-gap: 30px;
    font-size: 16px;
    line-height: 140%;
    
    .key, .value {
        padding: 60px 50px;
        background-color: #FAFAFA;
        border-radius: 40px;
    }

    .key {
        width: 50%;
    }

    .value {
        width: 60%;
        ol {
            margin: 40px 0;
        }
    }

    .inline-title {
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        color: #58194A;
    }

    .group-p > p, li {
        margin: 0;
    }
}

.mapping {
    padding: 20px 0;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    width: 990px;

    .orange-title {
        color: #E75122;
        font-weight: 500;
        text-align: center;
    }

    .green-title {
        color: #226E57;
        font-weight: 500;
        text-align: center;
    }

    p {
        margin: 8px;
    }
}

.tracking {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

}

.disable {
    color: #a8a8a8;
}

.footer {
    width: 62%;
    margin: 120px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 28px;
    
    .material-symbols-outlined {
        font-size: 28px;
        vertical-align: text-bottom;
    }

    a {
        text-decoration: underline;
        font-weight: 300;
    }
}

.arrow-color {
    color: rgb(228, 120, 66);
}

.image-joy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 40px;

    img {
        border-radius: 20px;
        margin-top: 20px;
    }
}

.image-page {
    padding: 0 auto;

    .last-p {
        margin-top: 8rem;
        text-align: center;
        font-size: 20px;
        font-weight: 200;
        color: rgba($color: #000000, $alpha: 0.54);
    }
}

.image-flow {
    columns: 3;
    counter-reset: grid;

    .image-desc {
        position: relative;
        break-inside: avoid;
        margin: 0 0 1rem 0;

        img {
            position: relative;
            width: 100%;
            border-radius: 1rem;
            display: block;
        }

        .overlay-desc {
            position: absolute;
            display: flex;
            align-items: end;
            flex-wrap: wrap;
            top: 0;
            height: 100%;
            width: 100%;
            color: rgba($color: #fff, $alpha: 0);

            div {
                width: 100%;
                margin: 1rem;
            }

            .image-title {
                font-weight: 500;
                font-size: 16px;
            }

            .image-description {
                font-weight: 400;
                font-size: 12px;
            }
        }

        .overlay-desc:hover {
            transition: 0.5s;
            color: rgba($color: #fff, $alpha: 1.0);
            border-radius: 1rem;
            background-color: rgba($color: #000000, $alpha: 0.4);
        }
    }
}
