@import "normalize";

// color
$text-color: rgba(0, 0, 0, 0.7);
$bg-color: #FDFCFA;
$main-color: #111;
$shadow-color: #cacaca;
$link-color: #EE4D20;
$label-color: #2B5CAF;
$text-bg-color: #FCF3C8;
// body
$body-width: 100%;
// mobile
$mobile-width: 600px !default;
$tablet-width: 1024px !default;
$desktop-min-width: 1366px !default;
$desktop-mid-width: 1512px !default;
$desktop-max-width: 1728px !default;
// font
$font-size: 18px;
$font-family: sans-serif;

@import "base";
@import "components";
@import "_media";
