<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) | safe }}">
    {% if config.generate_feed %}
    <link rel="alternate" type="application/atom+xml" title="RSS"
        href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endif %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎨</text></svg>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans|Inter:lighter,italic,bold">
</head>

<body>
    <div class="container">
        <header>
            Hi! Lily is a Product Designer based in Singapore.
        </header>

        <main>
            <nav class="navbar">
                <ol>
                    <ul><a href="/">Work</a></ul>
                    <ul><a href="/playground">Playground</a></ul>
                    <ul><a href="/about">About Me</a></ul>
                </ol>
            </nav>

            <section>
                {% block content %}
                {% set section = get_section(path="work/_index.md") %}
                {% for page in section.pages %}
                <article>
                    <div class="post-img">
                        <img src="{{ page.extra.image }}" alt="">
                    </div>
                    <div class="post">
                        <div class="post-title">
                            <a href="{{ page.permalink }}">
                                {{ page.title }}
                            </a>
                        </div>
                        <div class="post-desp">
                            {{ page.extra.summary | safe }}
                        </div>
                        <div class="post-label">
                            {% for label in page.extra.labels %}
                            <a><span class="label">{{ label }}</span></a>
                            {% endfor %}
                        </div>
                    </div>
                </article>
                {% endfor %}
                {% endblock content %}
            </section>
        </main>
    </div>
</body>

</html>