<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) | safe }}">
    {% if config.generate_feed %}
    <link rel="alternate" type="application/atom+xml" title="RSS"
        href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endif %}
</head>

<body>
    <div class="container">
        <header>
            Hi! <span>Lily</span> is a Product Designer based in Singapore.
        </header>

        <div class="content">
            <nav class="navbar">
                <ol>
                    <ul><a href="/work">Work</a></ul>
                    <ul><a href="/playground">Playground</a></ul>
                    <ul><a href="/about">About Me</a></ul>
                </ol>
            </nav>

            <main>
                {% block content %}
                {% set section = get_section(path="work/_index.md") %}
                {% for page in section.pages %}
                <article>
                    <div class="post-img">
                        <img src="{{ page.extra.image }}" alt="">
                    </div>
                    <div class="post">
                        <span class="post-title">
                            <a href="{{ page.permalink }}">
                                {{ page.title }}
                            </a>
                        </span>
                        <span class="post-desp">
                            {{ page.extra.summary | safe }}
                        </span>
                        <div class="post-label">
                            {% for label in page.extra.labels %}
                            <span class="label">{{ label }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </article>
                {% endfor %}
                {% endblock content %}
            </main>
        </div>
    </div>
</body>

</html>