{% extends "index.html" %}

{% block content %}
<div class="content">
    {{ page.content | safe }}
</div>
<div class="footer">
    <div class="prev">
        <span class="material-symbols-outlined">
            arrow_back_ios
        </span>
        {% if page.lower %}
            <a href="{{ page.lower.permalink }}">
                {{ page.lower.title }}
            </a>
        {% else %}
            <a href="/">Back to Home</a>
        {% endif %}
    </div>
    <div class="next">
        {% if page.higher %}
            <a href="{{ page.higher.permalink }}">
                {{ page.higher.title }} 
            </a>
        {% else %}
            <a href="/">Back to Home</a>
        {% endif %}
        <span class="material-symbols-outlined">
            arrow_forward_ios
        </span>
    </div>
</div>
{% endblock content %}
